*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top, #4c1c3c ,  #3f4e64 );
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.calculadora{
    width: 400px;
    height: 600px;
    background: linear-gradient(to top,  #483068 ,  #18405c);
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 130px repeat(6, 80px);
    justify-content: center;
    border-radius: 20px;
    padding-top: 20px;
    border: black solid 7px;
}
.calculadora button{
    font-size: 1.5rem;
    background-color: #5991a7;
    border-radius: 15%;
    border: 2px solid #2f344d;
    margin: 2px;
}

.calculadora button:hover{
    background:  #884474;
    transform: scale(1.1);
    font-size: 1.8rem;

}
.display{
    height: 120px;
    background-color: #1e95a0;
    opacity: .7;
    grid-column: 1/-1;
    border: 5px solid #2f344d; 
    text-align: end;
    padding: 10px 0;
}

.span2{
    grid-column: span 2;
}

.valor-superior{
    color: white;
    font-size: 1.2rem;
    background-color: #4c1c3c;
    margin: 5px 0;
}

.valor-inferior{
    color: white;
    font-size: 2rem;
    background-color: #4c1c3c;
    margin-top: 15px;

}